<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>課題アプリ</title>
  </head>
  <body>
    <h1>課題アプリ</h1>
    <h3>あなたが入力した値は</h3>

    <table>
      <tr>
        <td>名前</td>
        <td><%= name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= email %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= postalcode %></td>
      </tr>
        <td>住所</td>
        <td><%= address %></td>
      </tr>
    </table>

  </body>
</html>
