<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>課題アプリ</title>
  </head>
  <body>
    <h1>課題アプリ</h1>
    <h3>あなたが入力した値は</h3>

    <table>
      <tr>
        <td>名前</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= user.postalcode %></td>
      </tr>
        <td>住所</td>
        <td><%= user.address %></td>
      </tr>
    </table>

  </body>
</html>
